<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>
<link rel="stylesheet" href="css/bootstrap-4.0.css">
<script src="js/vue.js"></script>
</head>
<body>

<div id="app">
	<div class="container pt-5">
		<div class="row">
			<div class="col-3">

				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search" @keyup="search_text($event,'1')" v-model="vl[1]">
					<ul class="result">
						<li v-if="match_data[1]" v-for="x in match_data[1]" @click="pasteVal('1',x.title)">{{x.title}}</li>
					</ul>
				</div>

				<div class="form-group">
					<input type="text" class="form-control" placeholder="Search" @keyup="search_text($event,'2')" v-model="vl[2]">
					<ul class="result">
						<li v-if="match_data[2]" v-for="x in match_data[2]" @click="pasteVal('2',x.title)">{{x.title}}</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
</div>


<script>

"use strict"
new Vue({
	el: '#app',

	data: {
		vl:[],	
		match_data:[],
		datalist:[
			{title:'I’d like to begin this lesson'},
			{title:'This will feel confusing'},
			{title:'location in your computer'},
			{title:'Objects are created at some location'},
			{title:'your computer’s memory'},
			{title:'When we assign and use'},
			{title:'a reference-type variable'},
			{title:'Notice that the value, the address'},
			{title:'contained by the variable'},
			{title:'Assigning by Reference'},
			{title:'When a reference type value'},
			{title:'Each variable now contains'}
		],
	},

	methods:{
		search_text:function(e,id){
			this.match_data=[];
			this.match_data[id] =  this.datalist.filter(getText=>{
				return getText.title.includes(e.target.value);
			});
		},
		pasteVal:function(id,val){
			this.vl[id]=val;
			this.match_data=[];
		}	
	},
	
})
</script>




<script src="js/jquery.js"></script>
<script src="js/bootstarap.jquery.js"></script>
</body>
</html>