<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="css/bootstrap-4.0.css">
	<script src="js/vue.js"></script>
</head>
<body>

<div id="app">
	<div class="container">
		<hr class="mt-5">
		<div class="row text-center pt-4 show">
			<div class="col-md-4"><span :class="step <= 3?  'pass' : ''">1</span></div>
			<div class="col-md-4"><span :class="step >= 2 ? 'pass' : ''">2</span></div>
			<div class="col-md-4"><span :class="step === 3 ? 'pass' : ''">3</span></div>
		</div>

		<div v-if="step===1" class="step-1 pt-5">
			<div class="row">
				<div class="col-md-6 offset-3">
					<div class="form-group">
						<input class="form-control" type="text" placeholder="First Name" v-model="firstName">
						<small v-if='errorMsg.fname' class="text-danger">{{errorMsg.fname}}</small>
					</div>

					<div class="form-group">
						<input class="form-control" type="text" placeholder="Middle Name" v-model="middleName">
						<small v-if='errorMsg' class="text-danger">{{errorMsg.mname}}</small>
					</div>

					<div class="form-group">
						<input class="form-control" type="text" placeholder="Last Name" v-model="lastName"> 
						<small v-if='errorMsg' class="text-danger">{{errorMsg.lname}}</small>
					</div>
					<div class="form-group text-right">
						<button @click="steps" class="btn btn-primary">Go next Step</button>
					</div>
				</div>
			</div>
		</div>

		<div v-if="step===2" class="step-2 pt-5">
			<div class="row">
				<div class="col-md-6 offset-3">
					<div class="form-group">
						<input class="form-control" type="text" placeholder="Email Address">
					</div>

					<div class="form-group">
						<input class="form-control" type="text" placeholder="Contac Number">
					</div>

					<div class="form-group">
						<input class="form-control" type="text" placeholder="Emergency Contact Number">
					</div>
					<div class="form-group text-right">
						<button @click="back" class="btn btn-primary">Back Prev</button>
						<button @click="steps" class="btn btn-primary">Go next Step</button>
					</div>
				</div>
			</div>
		</div>

		<div v-if="step===3" class="step-3 pt-5">
			<div class="row">
				<div class="col-md-6 offset-3">
					<div class="form-group">
						<input class="form-control" type="text" placeholder="Password">
					</div>

					<div class="form-group">
						<input class="form-control" type="text" placeholder="Confirm Password">
					</div>

					<div class="form-group text-right">
						<button @click="back" class="btn btn-primary">Back Prev</button>
						<button class="btn btn-primary">Sumit</button>
					</div>
				</div>
			</div>
		</div>

		<hr class="mt-5">
	</div>
</div>

<script>

new Vue({

	el: '#app',

	data: {
		step:1,

		firstName:'',
		middleName:'',
		lastName:'',
		

		errorMsg:{
			fname:"",
			mname:"",
			lname:""
		}

		

	},
	
	methods:{
		steps: function(){
			if(this.firstName ==''){
				this.errorMsg.fname = 'Please fill First Name';
			}else if (this.middleName=='') {
				this.errorMsg.mname = 'Please fill Middle Name';
			}else if (this.lastName=='') {
				this.errorMsg.lname= 'Please fill Last Name';
			}else{
				this.step++;
			}
			
		},
		back: function(){
			this.step--;
		},
		
	},
	
})

</script>


<style>
	.show span{
		font-size: 30px;
		display: block;
		border-bottom: 2px solid #ddd;

	}
	.show span.pass{

		border-color:#006400;

	}
</style>






<script src="js/jquery.js"></script>
<script src="js/bootstarap.jquery.js"></script>
</body>
</html>