<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="css/bootstrap-4.0.css">
	<script src="js/vue.js"></script>
</head>
<body>

<div id="app">
	<div class="container">
		<hr class="mt-5">
		<div class="row text-center pt-4 show">
			<div class="col-md-4"><span :class="step <= 3?  'pass' : ''">1</span></div>
			<div class="col-md-4"><span :class="step >= 2 ? 'pass' : ''">2</span></div>
			<div class="col-md-4"><span :class="step === 3 ? 'pass' : ''">3</span></div>
		</div>
    
		<div v-if="step===1" class="step-1 pt-5">
			<div class="row">
				<div class="col-md-6 offset-3">
					<div class="form-group">
						<input class="form-control" type="text" placeholder="First Name" v-model="collects.firstName" data-name="first_name" @keyup="gg">
						<small class="text-danger">{{errors.firstName}}</small>
					</div>

					<div class="form-group">
						<input class="form-control" type="text" placeholder="Middle Name" v-model="collects.middleName">
						<small class="text-danger">{{errors.middleName}}</small>
					</div>

					<div class="form-group">
						<input class="form-control" type="text" placeholder="Last Name" v-model="collects.lastName">
						<small class="text-danger">{{errors.lastName}}</small>
					</div>

					<div class="form-group text-right">
						<button @click="steps(2)" class="btn btn-primary">Go next Step</button>
					</div>
				</div>
			</div>
		</div>

		<div v-if="step===2" class="step-2 pt-5">
			<div class="row">
				<div class="col-md-6 offset-3">
					<div class="form-group">
						<input v-model="collects.email" class="form-control" type="text" placeholder="Email Address">
					</div>

					<div class="form-group">
						<input v-model="collects.contact" class="form-control" type="text" placeholder="Contac Number">
					</div>

					<div class="form-group">
						<input v-model="collects.econtact" class="form-control" type="text" placeholder="Emergency Contact Number">
					</div>
					<div class="form-group text-right">
						<button @click="back(1)" class="btn btn-primary">Back Prev</button>
						<button @click="steps(3)" class="btn btn-primary">Go next Step</button>
					</div>
				</div>
			</div>
		</div>

		<div v-if="step===3" class="step-3 pt-5">
			<div class="row">
				<div class="col-md-6 offset-3">
					<div class="form-group">
						<input class="form-control" type="text" placeholder="Password">
					</div>

					<div class="form-group">
						<input class="form-control" type="text" placeholder="Confirm Password">
					</div>

					<div class="form-group text-right">
						<button @click="back(2)" class="btn btn-primary">Back Prev</button>
						<button class="btn btn-primary">Sumit</button>
					</div>
				</div>
			</div>
		</div>

		<hr class="mt-5">
	</div>
</div>

<script>

new Vue({

    el: '#app',

    data:{
        step:1,
        collects:{
            firstName:'',
            middleName:'',
            lastName:'',
            email:'',
            contact:'',
            econtact:'',
        },
        errors:false,
    },

    methods:{
    	gg:function(){
    		console.log('data-name');
    	},

        isValid:function(){
        	                        
        },

        steps: function(event){

        	var id = target.getAttribute('data-name');

        	alert(id);

            /*this.errors=this.isValid();
            if(!this.errors){
                this.step=parseInt(param);
            }else{
                return false;
            }*/

            //this.step=parseInt(param);
        },
        back: function(param){
            this.step=parseInt(param);
        },
    },
})

</script>


<style>
    .show span{
    	font-size: 30px;
    	display: block;
    	border-bottom: 2px solid #ddd;
    }
    .show span.pass{
    	border-color:#006400;
    }
</style>






<script src="js/jquery.js"></script>
<script src="js/bootstarap.jquery.js"></script>
</body>
</html>