<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="css/bootstrap-4.0.css">
	<script src="js/vue.js"></script>
</head>
<body>
<div id="app" class="col-sm-12">
	<div class="offset">
		<table class="table table-bordered">
			<thead>
				<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>User ID</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="p in displayedPosts">
				<td>{{p.first}}</td>
				<td>{{p.last}}</td>
				<td>{{p.suffix}}</td
				</tr>
			</tbody>
		</table>
		<nav aria-label="Page navigation example">
			<ul class="pagination">
				<li class="page-item">
					<button type="button" class="page-link" v-if="page != 1" @click="page--"> Previous </button>
				</li>
				<li class="page-item">
					<button type="button" class="page-link" v-for="pageNumber in pages.slice(page-1, page+5)" @click="page = pageNumber"> {{pageNumber}} </button>
				</li>
				<li class="page-item">
					<button type="button" @click="page++" v-if="page < pages.length" class="page-link"> Next </button>
				</li>
			</ul>
		</nav>	
	</div>
</div>





<script>

new Vue({
	el: "#app",
	data () {
		return {
			posts : [],
			page: 1,
			perPage: 9,
			pages: [],		
		}
	},

	methods:{
		getPosts () {
			for(let i = 1; i < 200; i++){
				this.posts.push(
					{
						first: 'John',
						last:'Doe', 
						suffix:'#' + i
					}
				);
			}  
		},
		setPages () {
			let numberOfPages = Math.ceil(this.posts.length / this.perPage);
			for (let index = 1; index <= numberOfPages; index++) {
				this.pages.push(index);
			}
		},
		paginate (posts) {
			let page = this.page;
			let perPage = this.perPage;
			let from = (page * perPage) - perPage;
			let to = (page * perPage);
			return  posts.splice(from, to);
		}
	},
	computed: {
		displayedPosts () {
			return this.paginate(this.posts);
		}
	},
	watch: {
		posts () {
			this.setPages();
		}
	},
	created(){
		this.getPosts();
	},
	filters: {
		trimWords(value){
			return value.split(" ").splice(0,20).join(" ") + '...';
		}
	}
})


</script>

<style>
	button.page-link {
		display: inline-block;
	}
	button.page-link {
		font-size: 20px;
		color: #29b3ed;
		font-weight: 500;
	}
	.offset{
		width: 500px !important;
		margin: 20px auto;  
	}
</style>


<script src="js/jquery.js"></script>
<script src="js/bootstarap.jquery.js"></script>
</body>
</html>