<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>
<link rel="stylesheet" href="css/bootstrap-4.0.css">
<link rel="stylesheet" href="css/font-awesome.css">
<link rel="stylesheet" href="css/style.css">
<script src="js/vue.js"></script>
</head>
<body>

<div id="app">
	<nav class="navbar navbar-expand-lg navbar-light bg-costpm">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Disabled</a>
				</li>
			</ul>
			<ul class="list-inline m-0 rgtMenu">

			    <li class="list-inline-item">
			    	<a class="text-white" href="#">
						<div class="icon"><i class="fa fa-recycle"></i></div>Sale Return
			    	</a>
			    </li>
			    <li class="list-inline-item">
			    	<a class="text-white" @click.prevent="cleanCart" href="#">
			    		<div class="icon"><i class="fa fa-refresh"></i></div>New
			    	</a>
			    </li>
			    <li class="list-inline-item">
			    	<a class="text-white" href="#">
			    		<div class="icon"><i class="fa fa-cutlery"></i></div>K.O.T
			    	</a>
			    </li>

			    <li class="list-inline-item"><a class="text-white" href="#">Hold</a></li>
			    <li class="list-inline-item"><a class="text-white" href="#">Unhold</a></li>
			</ul>
		</div>
	</nav>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<div class="input-group">
					<input type="text" class="form-control border-0 rounded-0" placeholder="Search category" v-model="search_by_cat">
				</div>

				<ul class="list-group mt-2">
					<li v-for="filterCat in filterCats" @click="filterByCat(filterCat.id)" class="list-group-item">{{filterCat.title}}</li>
				</ul>
			</div>

			<div class="col-md-7 border-left">
				<div class="input-group">
					<input type="text" class="form-control border-0 rounded-0" placeholder="Search by product name" v-model="search_by_product">
				</div>

				<div class="row mt-2">
					<div class="col-md-4" v-for="(filterProduct) in  filterProducts">
						<a @click.prevent="addCart(filterProduct.id, filterProduct.title, filterProduct.price)" href="#">
							<img class="img-fluid" :src="filterProduct.img" :alt="filterProduct.title">
							<span class="title">{{filterProduct.title}}</span>
						</a>
					</div>
				</div>
			</div>

			<div class="col-md-3 border-left">
				<div class="row" id="demo">
					<table class="table">
						<thead>
							<tr>
								<th>Name</th>
								<th><div style="width:56px;">Unit Price</div></th>
								<th>Qty</th>
								<th>Total</th>
								<th>Delete</th>
							</tr>
						</thead>

						<tbody>
							<tr v-for = "(item, index) in cart">
								<td>{{ item.title }}</td>
								<td class="text-center">{{ item.unit_price }}</td>
								<td class="text-center">{{ item.qty }}</td>
								<td class="text-center">{{ item.total }}</td>
								<td class="text-center"><a @click.prevent="deleteCartItm(index)" class="remove" href="#"> <i class="fa fa-times-circle"></i></a></td>
							</tr>
							
						</tbody>
					</table>

					<button v-on:click="PDFGen">Change Name</button>

					<h1 class="total">Total: {{grandTotal}}.00</h1>
				</div>
			</div>
		</div>
	</div>
</div>


<script>

"use strict"
new Vue({
	el: '#app',

	data: {
		search_by_cat:'',
		search_by_product:'',

		main_cat_id:'',
		cart:[],

		categories:[
			{id:1, title:'All product'},
			{id:2, title:'Mexican'},
			{id:3, title:'Cake'},
			{id:4, title:'Morbi leo risus'},
			{id:5, title:'Porta ac consectetur ac'},
			{id:6, title:'Vestibulum at eros'}
		],

		products:[

			{id:1, parent_id:2, img:'images/mexican/1.jpg', price:200, title:'Mexican Pizza 8 Inch'},
			{id:2, parent_id:2, img:'images/mexican/2.jpg', price:230, title:'Sub Sandwich'},
			{id:3, parent_id:2, img:'images/mexican/3.jpg', price:270, title:'Club Burger'},
			{id:4, parent_id:2, img:'images/mexican/4.jpg', price:300, title:'Little Burger'},

			{id:5, parent_id:3, img:'images/cake/1.jpg', price:92, title:'strawberry-cake'},
			{id:6, parent_id:3, img:'images/cake/2.jpg', price:90, title:'RED VELVET CAKE'},
			{id:7, parent_id:3, img:'images/cake/3.jpg', price:50, title:'WHITE FOREST CAKE'},
			{id:8, parent_id:3, img:'images/cake/4.jpg', price:20, title:'VANILLA CAKE'},
			{id:9, parent_id:3, img:'images/cake/5.jpg', price:23, title:'BLACK & WHITE FOREST CAKE'},
			{id:10, parent_id:3, img:'images/cake/6.jpg', price:430, title:'CHOCO COFFEE CAKE'},
			{id:11, parent_id:3, img:'images/cake/7.jpg', price:530, title:'BLACK COFFEE CAKE'},
			{id:12, parent_id:3, img:'images/cake/8.jpg', price:100, title:'BLACK FOREST CAKE'},
			{id:13, parent_id:3, img:'images/cake/9.jpg', price:201, title:'CHOCOLATE FUDGE CAKE'},
			{id:14, parent_id:3, img:'images/cake/10.jpg', price:65, title:'CHOCOLATE LADY CAKE'},
			{id:15, parent_id:3, img:'images/cake/11.jpg', price:188, title:'CHOCO VANILLA DIVIDED CAKE'},
			{id:16, parent_id:3, img:'images/cake/12.jpg', price:69, title:'CHOCO VANILLA MARBLE CAKE'},
			{id:17, parent_id:3, img:'images/cake/13.jpg', price:50, title:'CHOCOLATE CAKE'},
			{id:18, parent_id:3, img:'images/cake/14.jpg', price:270, title:'CHOCOLATE COATED CAKE'},
			{id:19, parent_id:3, img:'images/cake/15.jpg', price:130, title:'COFFEE CAKE'},
			{id:20, parent_id:3, img:'images/cake/16.jpg', price:100, title:'PREMIUM VANILLA CAKE'},
		],
	},

	methods:{
		/* #### This function for filter PRODUCT by clicking #### */
		filterByCat:function(id){
			id !== 1 ? (this.main_cat_id = id):(this.main_cat_id=''); 
		},

		/* #### This function for add product in CART #### */
		addCart:function(id, title, price){

			let quentity = 1;

			let is_exit = this.cart.findIndex(value =>{
				return value.id === id
			});

			if (is_exit == -1) {
				this.cart.push({
					id: id,
					title: title,
					qty: quentity,
					unit_price:price,
					total:price,
				})
			}else{
				this.cart.forEach(value =>{
					if(value.id === id){
						value.qty++;
						value.total = ( value.unit_price * value.qty );
					}
				});
			}
		},

		/* #### This function for CLEAR cart #### */
		cleanCart:function(){
			if (confirm("Are you clean order ?")) {
				this.cart = [];
			}
		},

		/* #### This function for DELETE CART ITEM #### */
		deleteCartItm:function(id){
			this.cart.splice(id,1);
		},

		PDFGen:function(){
			var doc = new jsPDF();
			doc.fromHTML($('#demo').get(0), 20, 20, {
	            'width': 500});
	        doc.save('sample-file.pdf');
		},

	},

	computed:{

		/* #### This function for CATEGORY Filter with result Show #### */
		filterCats:function(){
			if(this.search_by_cat){
		    	return this.categories.filter(element=>{
		    		return element.title.toLowerCase().includes(this.search_by_cat.toLowerCase());
		    	})
	    	}else{
	    		return this.categories
	    	}
		},


		/* #### This function for PRODUCT Filter with result Show #### */
		filterProducts:function(){
			
			if(this.search_by_product && !this.main_cat_id){
		    	return this.products.filter(element=>{
		    		return element.title.toLowerCase().includes(this.search_by_product.toLowerCase());
		    	})
	    	}else if (this.search_by_product && this.main_cat_id) {

	    		return this.products.filter(element=>{
		    		return element.title.toLowerCase().includes(this.search_by_product.toLowerCase()) && element.parent_id === parseInt(this.main_cat_id);
		    	})

	    	}else if (this.main_cat_id) {

	    		return this.products.filter(element=>{
		    		return element.parent_id === parseInt(this.main_cat_id);
		    	})
	    		
	    	}else{
	    		return this.products
	    	}
		},


		grandTotal:function(){
			let cartTotal = 0;

			this.cart.forEach( function(item) {
				cartTotal += item.total;
			});
			return cartTotal;
		}
		
	}
	
})
</script>




<script src="js/jquery.js"></script>
<script src="js/bootstarap.jquery.js"></script>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
</body>
</html>